:root{
    --white-custom: #fff;
    --blue-custom: #8a38fd;
    --gray-custom: #b4b4b4;
}

 * {
font-family: 'Roboto', sans-serif;}

.nav-color {
    background-color: var(--white-custom);
}

.bg-custom{
    background-color: var(--white-custom);
}
/* PRIMA NAVBAR */
.navbar{
    height: 150px;
}
.sizeBar{
    width: 100px;
}
/* seconda nav bar */
.nav-custom{
    height: 50px !important;
}

/* CSS del Main */
.bg-color-main{
    background-color: var(--blue-custom);
}
.main-bg-img{
    background-image: url(./media/img/main-bg.png);
    height: 60vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 10%;
}
.btn-my-color{
    background-color: var(--gray-custom);
    color: var(--white-custom);
    border: 2px solid var(--blue-custom);
}
.btn-my-color:hover{
    background-color: transparent;
    color: var(--white-custom);
    border: 2px solid var(--gray-custom);
}

  .icon-custom {
    color: var(--blue-custom);
    font-size: 40px;
    padding-right: 15px;
  }

  .title {
    font-size: 20px;
  }

  .section{
    display: flex;
    justify-content: center;
}


.cards {
width: 200px;
height: 300px;
background-color: #ffffff;
border-radius: 20px;
display: flex;
flex-direction: column;
align-items: center; 
justify-content: center;
}

.bg-cards {
    height: 50vh;
    background-color:var(--white-custom); 
} 

.custom-height {
    height: 50vh;
}

/* Swiper JS */
.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
  }

.margin-top-custom{
    margin-top: 70px;
}
 /* sezione numeri incrementali */
 .margin-bottom-custom{
    margin-bottom: 70px;
 }
/* sezione articoli genere */
.women{
    background-image: linear-gradient(rgba(85, 85, 85, 0.075), rgba(57, 56, 56, 0.837)) , url('./media/woman-gf3ff01814_1280.jpg');
    height: 500px;
    width: 350px;
    background-size: cover;
    background-repeat: no-repeat;
}

.margin-top-custom-card{
    margin-top: 110%;
    color: var(--white-custom);
}
.men{
    background-image: linear-gradient(rgba(85, 85, 85, 0.075), rgba(57, 56, 56, 0.837)) , url('./media/man-g520357148_1280.jpg');
    height: 500px;
    width: 350px;
    background-size: cover;
    background-repeat: no-repeat;
}
.children{  
        background-image: linear-gradient(rgba(85, 85, 85, 0.075), rgba(57, 56, 56, 0.837)) , url('./media/child-g60ee8eb13_1920.jpg');
        height: 500px;
        width: 350px;
        background-size: cover;
        background-repeat: no-repeat;
}
.card-size-custom{
    border-radius: 15px;
}




/* sezione BIG SALES */
.img-size-custom{
    height: 400px;
    width: 600px;
}
.text-custom{
    color: var(--blue-custom);
}
.margin-top-custom-sales{
    margin-top: 50px;
}
.paragraf-color{
    color: var(--gray-custom);
}
.btn-sales{
    background-color: var(--blue-custom);
    color: var(--white-custom);
    padding: 10px 20px;
}


/* CSS FOOTER INIZIO */ 
.my-nav-link{
    margin-top: 10px;
    text-decoration: none;
    list-style: none;
    padding: 12px 0;
}
.my-list{
    padding-left: 0 !important;
}
.lt-container{
    background-image: url(./media/img/main-bg.png);
    height: 80px;
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
}
.bg-color-footer{
    width: 200px;
    height: 100px;
    background-color: var(--blue-custom);
}
.icon-color {
    color: var(--blue-custom);
  }
.btn-custom{
    background-color: var(--blue-custom);
    color: var(--white-custom);
}
/* CSS FOOTER FINE */
