:root{
    --white-custom: #fff;
    --blue-custom: #8a38fd;
    --gray-custom: #9d9d9d;
}

 * {
font-family: 'Roboto', sans-serif;}

.nav-color {
    background-color: var(--white-custom);
}

.bg-custom{
    background-color: var(--white-custom);
}
/* PRIMA NAVBAR */
.navbar{
    height: 150px;
}
.sizeBar{
    width: 100px;
}

/* CSS del Main */
.bg-color-main{
    background-color: var(--blue-custom);
}
.main-bg-img{
    background-image: url(./media/img/main-bg.png);
    height: 60vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 15%;
}
.btn-my-color{
    background-color: var(--gray-custom);
    color: var(--white-custom);
    border: 2px solid var(--blue-custom);
}
.btn-my-color:hover{
    background-color: transparent;
    color: var(--white-custom);
    border: 2px solid var(--gray-custom);
}

 * {
     font-family: 'Roboto', sans-serif;
  }

  .fa-solid {
    color: var(--blue-custom);
    font-size: 40px;
    padding-right: 15px;
  }

  .title {
    font-size: 20px;
  }

  .section{
    display: flex;
    justify-content: center;
}