:root{
    --white-custom: #fff;
    --blue-custom: #8a38fd;
    --gray-custom: #9d9d9d;
}

 * {
font-family: 'Roboto', sans-serif;}

.bg-custom{
    background-color: var(--white-custom);
}
/* PRIMA NAVBAR */
.navbar{
    height: 150px;
}
.sizeBar{
    width: 100px;
}